{% extends 'base.html.twig' %}

{% block title %}Avancée de la vaccination{% endblock %}

{% block body %}
<div class="flex flex-col justify-center items-center">
    <div class="w-4/5 lg:w-3/5">
        <h1 class="font-extrabold text-3xl mb-2 mt-2" align="center">La stratégie vaccinale</h1>
        <p class="mt-2">La stratégie vaccinale mise en place doit permettre de remplir <b>trois objectifs de santé publique :</b></p>
        <ul class="mt-2">
            <li>1 - Faire baisser la mortalité et les formes grave de la maladie</li>
            <li>2 - Protéger les soignants et le système de soins</li>
            <li>3 - Garantir la sécurité des vaccins et de la vaccination</li>
        </ul>
        <p class="mt-2">Cette stratégie repose sur <b>trois principes :</b></p>
        <ul class="mt-2">
            <li>1 - Non Obligatoire</li>
            <li>2 - Gratuité</li>
            <li>3 - Haute Sécurité</li>
        </ul>
    <h1 class="font-extrabold text-3xl mb-2 mt-2" align="center">A compter du 1er Septembre</h1>
    <p class="mt-2">Une campagne de rappel est mise en place pour stimuler le système immunitaire des plus vulnérables. Les personnes concernées sont :</p>
    <ul class="mt-2">
        <li>- les résidents d’EHPAD, d’USLD et de résidences autonomie,</li>
        <li>- les personnes de 65 ans et plus vivant à domicile,</li>
        <li>- les personnes souffrant de comorbidité(s), immunodéprimées ou étant atteintes de <a href="https://solidarites-sante.gouv.fr/grands-dossiers/vaccin-covid-19/publics-prioritaires-vaccin-covid-19#comorbidites" class="text-color-blue">pathologie à haut risque de forme grave</a></li>
        <li>- les personnes ayant été vaccinées avec le vaccin Janssen,</li>
        <li>- les professionnels de santé (salariés du secteur de la santé, aides a domicile, professionnels du transport sanitaires, pompiers)</li>
        <li>- les personnes de l'entourage des immunodéprimés</li>
    </ul>
    <h1 class="font-extrabold text-3xl mb-2 mt-2" align="center">Vaccin Obligatoire pour certaines professions</h1>
    <p class="mt-2">Certaines professions sont soumises a l'obligation vaccinale, ces professions sont les personnes exercants au sein d'établissements ou centre liés a la santé, comme par exemple les hôpitaux, les maisons de santé, centres et équipes mobiles de soins, les EPAHD (et autre établissement et services d'aide a domicile et pour les personnes agées), etc...</p>
    <p class="mt-2">Les professionnels de santés mentionnés à la quatrième partie du code de la santé publique sont aussi soumis a l'obligation vaccinale, par exemple :</p>
    <ul class="mt-2">
        <li>- Les médecins</li>
        <li>- Les sages-femmes</li>
        <li>- Les odontologiste</li>
        <li>- Les pharmaciens</li>
        <li>- Les infirmiers</li>
        <li>- Les ambulanciers</li>
        <li>- Les aide-soignants</li>
        <li>- Les psychologues</li>
        <li>- Les ostéopathes</li>
        <li>- Les chiropracteurs</li>
        <li>- Les psychothérapeutes</li>
        <li>- Les personnes travaillant dans les mêmes locaux que les professionnels mentionnés ci-dessus ;</li>
        <li>- Les étudiants ou élèves des établissements préparant à l’exercice de ces professions.</li>
        <li>- Et encore d'autres...</li>
    </ul>
    <p class="mt-2">Mais sont aussi concernés : </p>
    <ul class="mt-2">
        <li>- Les sapeur-pompiers et marins pompiers</li>
        <li>- Les membres des associations agréées de sécurité civile (Par exemple les personnels et bénévoles de la Croix Rouge)</li>
        <li>- Les personnes en charge des transports sanitaires et transports sur prescription médicale</li>
        <li>- Les prestataires de services et distributeurs de matériel mentionnés à l’article L.5232-3 du code de la santé publique.</li>
        <li>- Les personnels navigants et personnels militaires affectés de manière permanente aux missions de sécurité civile ;</li>
    </ul>
    <p class="mt-2">Pour plus d'informations, rendez-vous sur la source de cet article : <a href="https://solidarites-sante.gouv.fr/grands-dossiers/vaccin-covid-19/publics-prioritaires-vaccin-covid-19" class="font-extrabold text-blue-500">solidarites-sante.gouv.fr</a></p>
    </div>
</div>
{% endblock %}
