{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<h1 align="center">Les trois objectifs de santé publique :</h1>
<ul>
    <li>Faire baisser la mortalité et les formes graves de la maladie</li>
    <li>Protéger les soignants et le système de soins</li>
    <li>Garantir la sécurité des vaccins et de la vaccination</li>
</ul>
<p>Elle repose sur trois principes : </p>
<ul>
    <li>Non obligatoire</li>
    <li>Gratuité</li>
    <li>Haute sécurité</li>
</ul>
<h1 align="center">La vaccination accessible à toutes les personnes de 12 ans et plus</h1>
<p>Suivant les recommandations vaccinales émises par la Haute autorité de santé dans ses avis du <a href="https://www.has-sante.fr/jcms/p_3221338/fr/strategie-de-vaccination-contre-le-sars-cov-2-recommandations-preliminaires-sur-la-strategie-de-priorisation-des-populations-a-vacciner#ancreDocAss">27 novembre 2020</a> et du <a href="https://www.has-sante.fr/jcms/p_3235868/fr/strategie-de-vaccination-contre-la-covid-19-place-du-covid-19-vaccine-astrazeneca-dans-la-strategie">2 février 2021</a>, une priorisation des publics éligibles avait été mise en place au début de la campagne de vaccination.
L’âge de la personne est le facteur de risque de développer une forme grave de Covid-19 le plus important, la Haute autorité de santé recommandait donc de prioriser les populations cibles vaccinales en fonction de différentes classes d’âge et selon les facteurs d’exposition au virus (ex : vie en collectivité, professionnels du secteur de la santé…).
Par ailleurs, à tranche d’âge égale, les personnes souffrant de comorbidités associées à un risque de développer une forme grave de Covid-19 devaient être vaccinées en premier.</p>

<h1 align="center">Depuis le 15 juin 2021</h1>
<p>Depuis le 15 juin 2021, la vaccination est accessible à tous, dès l'age de 12 ans.
Par ailleurs, la vaccination est recommandée dès le premier trismestre de grossesses pour les femmes enceintes, pour les personnes <a href="https://solidarites-sante.gouv.fr/grands-dossiers/vaccin-covid-19/publics-prioritaires-vaccin-covid-19#comorbidites">souffrant de comorbidités associèes à un risque de développer une forme grave de COVID-19</a>
En revanche la vaccination <a href="https://solidarites-sante.gouv.fr/IMG/pdf/avis_du_cosv_11_juin_2021_-_vaccination_des_enfants_ayant_fait_un_pims.pdf">n'est pas recommandée pour les personnes ayant développer un syndrôme inflammatoire multi-systémique pédiatrique (PIMS) à la suite d'une infection à la COVID-19</a> </p>

<h1 align="center">Depuis le 1er septembre</h1>
<p>Une campagne de rappel est mise en place pour stimuler le système immunitaire des personnes les plus vulnérables. Les personnes concernée sont :</p>
<ul>
    <li>Les résidents d’EHPAD et d’USLD,</li>
    <li>Les personnes de 65 ans et plus vivant à domicile,</li>
    <li>Les personnes souffrant de comorbidité(s),</li>
    <li>Les personnes atteintes de <a href="https://solidarites-sante.gouv.fr/grands-dossiers/vaccin-covid-19/publics-prioritaires-vaccin-covid-19#comorbidites"> pathologies à haut risque de forme grave,</a></li>
    <li>Les personnes ayant été vaccinées avec le vaccin Janssen.</li>
</ul>
<p>Il convient d’attendre un délai de 6 mois entre la dernière dose reçue, complétant le schéma vaccinal initial, et cette dose de rappel. Ce délai est réduit à 4 semaines pour les personnes ayant reçu une dose de vaccin Janssen.
Ces rappels vaccinaux seront effectués uniquement avec des vaccins à ARNm (Pfizer-BioNTech ou Moderna) de manière indifférenciée.</p>

<h1 align="center">Depuis 5 Aout </h1>
<p>Après adoption du texte par le Parlement et à la suite de la décision rendue par le Conseil Constitutionnel le 5 août, les personnes soumises à l’obligation vaccinale sont les professionnels ci-dessous :</p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<p>En revanche, le personnel des crèches, des établissements ou services de soutien à la parentalité ou d'établissement et des servicces de protection de l'enfance ne sont pas soumis a l'obligation vaccinale, mais aussi les personnes justifiant d'une contre-indication à la vaccination seront exemptés
Les personnels non vaccinés auront jusqu'au 15 septembre 2021 pour le faire, voir jusqu'au 15 Octobre 2021 si ils ont déjà reçu une première dose de vaccin et sous reserve de présenter un test négatif. Un certificat de statut vaccinal leur sera alors délivré</p>
{% endblock %}
