{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
<h1></h1>


<div class="flex flex-col justify-center items-center">
    <h1 class="lg:text-4xl text-2xl mt-2 font-extrabold">Erreur</h1>
    <hr/>
    <p class="lg:text-4xl text-2xl mt-2 font-extrabold">Impossible d'acceder a cet article, car il n'existe pas dans la base de données.</p>
    <p class="lg:text-4xl text-2xl mt-2 font-extrabold">Vous serez redirigez a la page d'accueil dans 5 secondes</p>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready( function () {
        window.setTimeout(function(){
            location.href = "{{ path('accueil') }}";
        }, 5000);
    } );
</script>
{% endblock %}