{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center">
    <input type="text" id="searchInput" name="name" placeholder="Chercher un article..." class="lg:px-10 py-2 my-4 border-b-2 border-gray-600 outline-none float-left focus:border-blue-400 align-middle">
</div>

<div class="flex flex-col items-center justify-center" id="listeArticle">
    {% for article in listeArticle %}  
        <a href="{{ path('article', {id: article.id }) }}" class="rounded-lg shadow-lg mt-3 border-3 border-black lg:w-4/5 w-5/6 searchable">
            <div>
                <div class="lg:flex">
                    <img src="{{ asset('uploads/image_couverture/'~ article.image) }}" alt="oui" class="lg:rounded-l-lg rounded-t-lg h-60 lg:w-2/5 w-full object-cover">
                    <div class="p-8 text-center lg:text-left">
                        <h2 class="text-xl font-extrabold">{{ article.titreArticle }}</h2>
                        <p>{{ article.resumeArticle }}</p>
                        <button class="bg-blue-400 rounded-lg px-4 mt-5 py-2 lg:float-left float-center">Acceder a l'article</button>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
<script>
$(document).ready(function() {
    console.log('page chargée');
    if($(window).width() > 1024){
    $(".searchable").mouseenter(function(){
            $(this).toggleClass('bg-blue-300');
            $(this).css("transform","translate(20px,0)");
            $(this).css("transition-duration","0.6s");
        
    });
    $(".searchable").mouseleave(function(){
        $(this).toggleClass('bg-blue-300');
        $(this).css("transform","translate(0px,0)");
        $(this).css("transition-duration","0.6s");
    });
    }
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".searchable").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
    });
  });
});
</script>
{% endblock %}