{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<h1 align="center">{{ article.titreArticle }}</h1>
<div class="container">
    <div class="col-12">
        {{ article.resumeArticle }}
        <hr>
        {{ article.contenuArticle|purify }}
    </div>
</div>
{% endblock %}
