{% extends "base.html.twig" %}

{% block title %}
    Je souhaite sauver des vies !
{% endblock %}



{% block body %}
<div class="flex flex-col justify-center items-center">
    <h1 class="lg:text-4xl text-2xl mt-2 font-extrabold">Je souhaite sauver des vies</h1>
    <hr/>
    {{ include('default/solidaireFormulaire.html.twig')}}
</div>
{% endblock %}