{% extends "base.html.twig" %}
{% block title%}
    Je souhaite sauver des vies !
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
        </div>
        <h1 align="center">Je souhaite sauver des vies !</h1>
        <hr />
        {{ include('default/solidaireFormulaire.html.twig')}}
        <p class="d-flex justify-content-center">
        <a href="{{ path('accueil') }}" class="px-4 py-2 rounded-md text-sm font-medium border-b-2 focus:outline-none focus:ring transition text-white bg-red-500 border-red-800 hover:bg-red-600 active:bg-red-700 focus:ring-red-300">
            Retour a l'accueil
        </a>
    </div>
</html>
{% endblock %}