{% extends 'base.html.twig' %}

{% block title %}Facts Vaccination{% endblock %}

{% block body %}
<div class="flex flex-col justify-center items-center">
    <div class="w-4/5 lg:w-3/5">
    <h1 class="font-extrabold text-3xl mb-2 mt-2" align="center">Qu'est-ce que c'est la vaccination ?</h1>
    <p class="mt-2">
        La vaccination est un moyen simple, sûr et efficace de vous protéger des maladies dangereuses, avant d’être en contact avec ces affections. Elle utilise les défenses naturelles de l’organisme pour créer une résistance à des infections spécifiques et renforcer le système immunitaire. 
        Les vaccins stimulent le système immunitaire pour créer des anticorps, de la même manière que s’il était exposé à la maladie. Mais comme les vaccins ne renferment que des formes tuées ou atténuées des germes, virus ou bactéries, ils ne provoquent pas la maladie et n’exposent pas le sujet à des risques de complications.
        La plupart des vaccins sont administrés par injection, mais certains se prennent par voie orale ou par aérosol nasal.
    </p>
    <h1 class="font-extrabold text-3xl mb-2" align="center">Comment agit un vaccin ?</h1>
    <p class="mt-2">
        Les vaccins réduisent le risque de contracter une maladie en travaillant sur les défenses naturelles de l’organisme pour établir une protection. C’est le système immunitaire qui réagit lorsqu’on se fait vacciner :
        <ul class="mt-2">
            <li>- Il reconnaît le germe invasif, comme un virus ou une bactérie.</li>
            <li>- Il produit des anticorps. Ce sont des protéines produites naturellement par le système immunitaire pour combattre la maladie.</li>
            <li>- Il se rappelle de la maladie par la suite et de la manière de la combattre. Lorsqu’on est exposé plus tard au même germe, le système immunitaire peut le détruire rapidement, avant que la personne ne tombe malade.</li>
        </ul>
        Les vaccins sont donc un moyen sûr et astucieux de produire une réponse immunitaire de l’organisme, sans provoquer de maladie.
        Le système immunitaire a de la mémoire. Une fois qu’il a été exposé à une ou plusieurs doses vaccinales, le sujet vacciné demeure protégé contre la maladie concernée pendant des années, des décennies, voire la vie entière. C’est la raison pour laquelle les vaccins sont si efficaces. Plutôt que de traiter le mal, ils permettent d’éviter de tomber malade. 
    </p>
    <h1 class="font-extrabold text-3xl mb-2" align="center">Qu'y a-t-il dans un vaccin ? et sont-ils sûrs ?</h1>
    <p>
        Tous les composants jouent un rôle important pour garantir l’innocuité et l’efficacité du vaccin. On y trouve:
        <ul class="mt-2">
            <li>- L’antigène. Il s’agit d’une forme inactivée ou affaiblie d’un germe, virus ou bactérie, qui apprend à l’organisme à le reconnaître et à combattre la maladie s’il est en présence de ce germe à un stade ultérieur. </li>
            <li>- Les adjuvants, qui aident à renforcer la réponse immunitaire. En d’autres termes, ils aident les vaccins à mieux agir.</li>
            <li>- Les conservateurs, qui aident à maintenir l’efficacité du vaccin.</li>
            <li>- Les stabilisateurs, qui protègent le vaccin pendant le stockage et le transport.</li>
        </ul>
        Les composants des vaccins peuvent paraître étranges lorsqu’on les voit énumérés sur une étiquette. Pourtant, beaucoup d’entre eux sont présents naturellement dans l’organisme, dans l’environnement et dans les aliments que nous consommons. Tous, ainsi que les vaccins eux-mêmes, sont soigneusement testés et contrôlés pour garantir leur innocuité.
        Les vaccins sont sûrs et leurs effets secondaires sont en général mineurs et temporaires, comme un bras endolori ou une faible fièvre. Des effets indésirables plus sérieux sont possibles, mais extrêmement rares.
        Tout vaccin homologué subit une batterie de tests rigoureux tout au long des multiples phases des essais avant que son utilisation ne soit approuvée; il est ensuite réévalué régulièrement après son introduction. Les scientifiques surveillent en permanence les informations provenant de plusieurs sources pour y déceler tout signal indiquant que le vaccin peut entraîner des risques pour la santé. 
        Rappelez-vous que vous avez une probabilité bien plus grande d’être gravement atteint par une maladie à prévention vaccinale que par un vaccin. Par exemple, le tétanos peut provoquer des douleurs extrêmes, des spasmes musculaires (trismus) et des caillots sanguins, la rougeole peut entraîner une encéphalite (infection du cerveau) et la cécité. De nombreuses maladies à prévention vaccinale peuvent même provoquer la mort. Les avantages de la vaccination dépassent donc de loin les risques et il y aurait bien plus de cas de maladie et de décès sans les vaccins.
    </p>
    <h1 class="font-extrabold text-3xl mb-2" align="center">Les vaccins ont-ils des effets secondaires</h1>
    <p class="mt-2">
        Comme tout médicament, les vaccins peuvent avoir des effets secondaires bénins comme un peu de fièvre, une douleur ou une rougeur au point d’injection. Ces réactions disparaissent d’elles-mêmes en quelques jours.
        Les effets secondaires sévères et durables sont extrêmement rares. On surveille continuellement l’innocuité des vaccins pour détecter des événements indésirables rares.
    </p>
    <h1 class="font-extrabold text-3xl mb-2" align="center">Pourquoi dois-je me faire vacciner ? Et quand ?</h1>
    <p class="mt-2">
        Le vaccin vont permettre de se prot"ger soi-même et de protéger son entourage. Certaines personnes présent dans notre entourage peuvent ne pas pouvoir se faire vacciner pour diverses raisons, car elles sont trop jeunes, trop vieille, sont atteintent d'une maladie grave ou qui ont certaines allergies. Il est donc important de protéger ces personnes la en se vaccinant.
        Dans la plupart des pays, nous recevons une fiche ou un carnet de vaccination nous disant les vaccins que nous ou nos enfants avons eus et les dates des prochains vaccins ou rappels. Il est important de rester à jour de toutes les vaccinations car en les retardant, il est possible de tomber gravement malade.
    </p>
    <h1 class="font-extrabold text-3xl mb-2" align="center">Qui peux se faire vacciner ?</h1>
    <p class="mt-2">
        Presque tout le monde peux se faire vacciner. Les personnes ne pouvant pas se faire vacciner sont : 
        <ul class="mt-2">
            <li>- Les personnes souffrant de maladie chroniques ou prenant certains traitement, comme la chimiothérapie, qui ont des effets sur le système immunitaire.</li>
            <li>- Les personnes ayant des allergies sévères ou potentiellement mortelles, qui sont très rares, à certains composants des vaccins.</li>
            <li>- Les personnes ayant une maladie sévère le jour de la vaccination.</li>
        </ul>
    </p>
    <h1 class="font-extrabold text-3xl mb-2" align="center">Quelles sont les maladies que les vaccins permettent d'éviter ?</h1>
    <p class="mt-2">
        Les vaccins protègent contre de nombreuses maladies, notamment :
        <ul class="mt-2">
            <li>- Le cancer du col de l’utérus</li>
            <li>- Le choléra</li>
            <li>- La Covid-19</li>
            <li>- La diphtérie</li>
            <li>- La maladie à virus Ebola</li>
            <li>- L’hépatite B</li>
            <li>- La grippe</li>
            <li>- Le tétanos</li>
            <li>- Et bien d'autres...</li>
        </ul>
    </p>
    <h1 class="font-extrabold text-3xl mb-2" align="center">Pour plus d'informations</h1>
    <p class="mt-2 mb-2">
        Afin d'obtenir plus d'informations sur le vaccins, rendez vous sur la source de cet article : <a href="https://www.who.int/fr/news-room/q-a-detail/vaccines-and-immunization-what-is-vaccination?adgroupsurvey=%7Badgroupsurvey%7D&gclid=CjwKCAiA_9r_BRBZEiwAHZ_v19x5bIct69jPzVD75Np-tzsTKjDWn3Ne_hi2DP8uPGDigZMrJkVTyxoCSGIQAvD_BwE" class="text-blue-500 font-extrabold">www.who.int</a>.
    </p>
    </div>
</div>
{% endblock %}
