{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<h1 align="center">Stratégie </h1>
<h1 align="center">Qu'est ce que c'est la vaccination</h1>
<p>La vaccination est un moyen simple, sûr et efficace de vous protéger des maladies dangereuses, avant d’être en contact avec ces affections. Elle utilise les défenses naturelles de l’organisme pour créer une résistance à des infections spécifiques et renforcer le système immunitaire. 
Les vaccins stimulent le système immunitaire pour créer des anticorps, de la même manière que s’il était exposé à la maladie. Mais comme les vaccins ne renferment que des formes tuées ou atténuées des germes, virus ou bactéries, ils ne provoquent pas la maladie et n’exposent pas le sujet à des risques de complications.
La plupart des vaccins sont administrés par injection, mais certains se prennent par voie orale ou par aérosol nasal.</p>
<h1 align="center">Pourquoi dois-je me faire vacciner (ou faire vacciner mes enfants)</h1>
<p>Les vaccins nous protègent tout au long de la vie, à partir de la naissance, dans l’enfance, l’adolescence et jusqu’à la vieillesse. Dans la plupart des pays, nous recevons une fiche ou un carnet de vaccination nous disant les vaccins que nous ou nos enfants avons eus et les dates des prochains vaccins ou rappels. Il est important de rester à jour de toutes les vaccinations.
En retardant les vaccinations, on risque de tomber gravement malade. Si on attend le moment où nous pensons que nous risquons d’être exposés à une maladie, comme lors d’une épidémie, il ne restera peut-être pas suffisamment de temps pour que le vaccin puisse agir ou pour administrer toutes les doses recommandées.
Si vous êtes en retard dans les vaccinations recommandées, que ce soit pour vous ou pour votre enfant, parlez-en à votre prestataire de soins de santé pour procéder à un rattrapage</p>
{% endblock %}
