{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<h1 align="center">Stratégie </h1>
<h1 align="center">La vaccination, qu'est ce que c'est ?</h1>
<p>La vaccination est un moyen simple, sûr et efficace de vous protéger des maladies dangereuses, avant d’être en contact avec ces affections. Elle utilise les défenses naturelles de l’organisme pour créer une résistance à des infections spécifiques et renforcer le système immunitaire. 
Les vaccins stimulent le système immunitaire pour créer des anticorps, de la même manière que s’il était exposé à la maladie. Mais comme les vaccins ne renferment que des formes tuées ou atténuées des germes, virus ou bactéries, ils ne provoquent pas la maladie et n’exposent pas le sujet à des risques de complications.
La plupart des vaccins sont administrés par injection, mais certains se prennent par voie orale ou par aérosol nasal.</p>

<h1 align="center">Comment agit un vaccin ?</h1>
<p>Un vaccin permet de réduire le risque de contracter une maladie en travaillant sur les défenses naturelles de l'organisme pour établir une protection. Le vaccin permet au système immunitaire de : </p>
<ul>
    <li> - Reconnaitre le germe invasif, comme un virus ou une bactérie</li>
    <li> - Produire des anticorps</li>
    <li> - Se souvenir de la maladie et de la façon de la com </li>
</ul>
<p>Les vaccins sont donc un moyen sûr et astucieux de produire une réponse immunitaire de l’organisme, sans provoquer de maladie.
Le système immunitaire a de la mémoire. Une fois qu’il a été exposé à une ou plusieurs doses vaccinales, le sujet vacciné demeure protégé contre la maladie concernée pendant des années, des décennies, voire la vie entière. C’est la raison pour laquelle les vaccins sont si efficaces. Plutôt que de traiter le mal, ils permettent d’éviter de tomber malade. </p>

<h1 align="center">Pourquoi dois-je me faire vacciner moi ou mes enfants</h1>
<p>Les vaccins nous protègent tout au long de la vie, à partir de la naissance, dans l’enfance, l’adolescence et jusqu’à la vieillesse. Dans la plupart des pays, nous recevons une fiche ou un carnet de vaccination nous disant les vaccins que nous ou nos enfants avons eus et les dates des prochains vaccins ou rappels. Il est important de rester à jour de toutes les vaccinations.
En retardant les vaccinations, on risque de tomber gravement malade. Si on attend le moment où nous pensons que nous risquons d’être exposés à une maladie, comme lors d’une épidémie, il ne restera peut-être pas suffisamment de temps pour que le vaccin puisse agir ou pour administrer toutes les doses recommandées.
Si vous êtes en retard dans les vaccinations recommandées, que ce soit pour vous ou pour votre enfant, parlez-en à votre prestataire de soins de santé pour procéder à un rattrapage</p>


<h1 align="center">Quelles maladies le vaccin permettent-ils d'éviter</h1>
<p>Les vaccins ont permis de nous protéger de nombreuses maladiesn, notemmant : </p>
<ul>
    <li>Le cancer du col de l’utérus</li>
    <li>Le choléra</li>
    <li>La Covid-19</li>
    <li>La diphtérie</li>
    <li>La maladie à virus Ebola</li>
    <li>L’hépatite B</li>
    <li>La grippe</li>
    <li>L’encéphalite japonaise</li>
    <li>La rougeole</li>
    <li>La méningite</li>
    <li>Les oreillons</li>
    <li>La coqueluche</li>
    <li>La pneumonie</li>
    <li>La poliomyélite</li>
    <li>La rage</li>
    <li>Les infections à rotavirus</li>
    <li>La rubéole</li>
    <li>Le tétanos</li>
    <li>La typhoïde</li>
    <li>La varicelle</li>
    <li>La fièvre jaune</li>
</ul>

<h1 align="center">Qui peux se faire vacciner</h1>
<p>Presque tout le monde. Toutefois, à cause d’affections médicales spéciales, il ne faut pas administrer certains vaccins à certaines personnes, ou alors elles doivent attendre un peu. Ces affections sont les suivantes :</p>
<ul>
    <li>Maladies chroniques ou certains traitements (comme la chimiothérapie) qui ont des effets sur le système immunitaire;</li>
    <li>Allergies sévères ou potentiellement mortelles, qui sont très rares, à certains composants des vaccins; </li>
    <li>En cas de maladie sévère le jour de la vaccination. Les enfants doivent tout de même être vaccinés dès qu’ils sont remis. Une maladie modérément grave et une petite fièvre ne sont pas des contre-indications à la vaccination. </li>
</ul>
<p>Ces facteurs varient souvent selon les vaccins. Si vous n’êtes pas sûr de savoir si vous ou votre enfant devez avoir un vaccin en particulier, parlez-en à votre agent de santé. Il ou elle pourra vous aider à prendre une décision en toute connaissance de cause pour la vaccination en question.</p>

<h1 align="center">Qu'y a-t-il dans un vaccin</h1>
<p>Tous les composants jouent un rôle important pour garantir l’innocuité et l’efficacité du vaccin. On y trouve : </p>
<ul>
    <li>L’antigène. Il s’agit d’une forme inactivée ou affaiblie d’un germe, virus ou bactérie, qui apprend à l’organisme à le reconnaître et à combattre la maladie s’il est en présence de ce germe à un stade ultérieur. </li>
    <li>Les adjuvants, qui aident à renforcer la réponse immunitaire. En d’autres termes, ils aident les vaccins à mieux agir. </li>
    <li>Les conservateurs, qui aident à maintenir l’efficacité du vaccin.</li>
    <li>Les stabilisateurs, qui protègent le vaccin pendant le stockage et le transport.</li>
</ul>
<p>Les composants des vaccins peuvent paraître étranges lorsqu’on les voit énumérés sur une étiquette. Pourtant, beaucoup d’entre eux sont présents naturellement dans l’organisme, dans l’environnement et dans les aliments que nous consommons. Tous, ainsi que les vaccins eux-mêmes, sont soigneusement testés et contrôlés pour garantir leur innocuité.</p>

<h1 align="center">Qu'y a-t-il dans un vaccin</h1>
<p>Les vaccins sont sûrs et leurs effets secondaires sont en général mineurs et temporaires, comme un bras endolori ou une faible fièvre. Des effets indésirables plus sérieux sont possibles, mais extrêmement rares.

Tout vaccin homologué subit une batterie de tests rigoureux tout au long des multiples phases des essais avant que son utilisation ne soit approuvée; il est ensuite réévalué régulièrement après son introduction. Les scientifiques surveillent en permanence les informations provenant de plusieurs sources pour y déceler tout signal indiquant que le vaccin peut entraîner des risques pour la santé. 

Rappelez-vous que vous avez une probabilité bien plus grande d’être gravement atteint par une maladie à prévention vaccinale que par un vaccin. Par exemple, le tétanos peut provoquer des douleurs extrêmes, des spasmes musculaires (trismus) et des caillots sanguins, la rougeole peut entraîner une encéphalite (infection du cerveau) et la cécité. De nombreuses maladies à prévention vaccinale peuvent même provoquer la mort. Les avantages de la vaccination dépassent donc de loin les risques et il y aurait bien plus de cas de maladie et de décès sans les vaccins.

Plus d'informations <a href="https://www.who.int/fr/news-room/q-a-detail/vaccines-and-immunization-vaccine-safety?fbclid=IwAR31qa-9ReMYBZvOzsfd1Vq8vKf6ZmCdg1pI3uOzSAsOGsm8bszbP6H5oV4">ici.</a></p>

<h1 align="center">Comment les vaccins sont-ils mis au point et testés</h1>
<p>Les vaccins les plus couramment utilisés existent depuis des décennies, et ils sont administrés à des millions de personnes en toute sécurité chaque année. Comme tout médicament, chaque vaccin doit faire l’objet d’essais exhaustifs et rigoureux pour s’assurer de son innocuité avant son introduction dans un pays.

Un vaccin expérimental est d’abord testé chez l'animal afin d’évaluer son innocuité et son potentiel de prévention des maladies. Il est ensuite testé dans le cadre d'essais cliniques chez l'être humain, en trois phases : </p>
<ul>
    <li>Au cours de la phase I, le vaccin est administré à un petit nombre de volontaires pour évaluer son innocuité, pour confirmer qu’il entraîne une réponse immunitaire et pour en déterminer la posologie correcte.</li>
    <li>Au cours de la phase II, le vaccin est habituellement administré à des centaines de volontaires chez qui les effets secondaires éventuels sont étroitement surveillés, afin d’évaluer davantage sa capacité à entraîner une réponse immunitaire. Des données sont également recueillies autant que possible sur l'issue de la maladie, mais généralement pas en quantité suffisante pour avoir une idée claire de l’effet du vaccin sur la maladie. Les participants à cette phase ont les mêmes caractéristiques (âge et sexe, par exemple) que les personnes auxquelles le vaccin est destiné. Certains volontaires sont vaccinés et d’autres non, ce qui permet de faire des comparaisons et de tirer des conclusions sur le vaccin.</li>
    <li>Au cours de la phase III, le vaccin est administré à des milliers de volontaires – dont certains reçoivent le vaccin expérimental, et d’autres non, tout comme dans les essais de phase II. Les données des deux groupes sont soigneusement comparées pour déterminer si le vaccin est sûr et efficace contre la maladie visée.</li>
</ul>
<p>Une fois que les résultats des essais cliniques sont disponibles, il faut faire d'autres démarches, dont des examens de l’efficacité, de l’innocuité et de la fabrication pour obtenir les autorisations réglementaires et de santé publique nécessaires, avant qu’un vaccin ne puisse être introduit dans un programme national de vaccination.

Après l’introduction d’un vaccin, une surveillance étroite est mise en place pour continuer à détecter les effets secondaires indésirables inattendus et pour évaluer encore l’efficacité du vaccin dans le cadre de son utilisation systématique chez un nombre encore plus grand de personnes, afin de déterminer comment utiliser le vaccin pour qu'il confère la meilleure protection. Pour plus d’informations (en anglais) sur la mise au point et l’innocuité des vaccins, cliquer <a href="">ici.</a>  </p>

<h1 align="center">Que faire si j'ai encore des questions sur la vaccination</h1>
<p>Si vous avez des questions sur les vaccins, parlez-en avec un agent de santé qui pourra vous donner des conseils scientifiques sur la vaccination pour vous et votre famille, notamment sur le calendrier de vaccination recommandé dans votre pays. 

En recherchant des informations en ligne sur les vaccins, assurez-vous de ne consulter que des sources fiables. Pour vous aider à les trouver, l’OMS a examiné et « certifié » de nombreux sites dans le monde qui ne donnent que des informations reposant sur des bases scientifiques solides et des études indépendantes menées par des experts techniques de premier plan. Tous ces sites sont membres du Réseau pour la sécurité des vaccins  <a href="www.vaccinesafetynet.org">(www.vaccinesafetynet.org)</a>.</p>

<h1 align="center">Comment l'OMS contribue-t-elle à garantir l'innocuité des vaccins</h1>
<p>L’OMS veille à ce que chacun, où qu'il se trouve, soit protégé par des vaccins sûrs et efficaces. Pour ce faire, elle aide les pays à mettre en place des systèmes rigoureux afin de garantir l'innocuité vaccins et à appliquer des normes internationales strictes pour leur réglementation.

Avec des scientifiques du monde entier, les experts de l’OMS effectuent une surveillance continue pour s’assurer que les vaccins restent sûrs. Elle collabore également avec ses partenaires pour aider les pays à enquêter et à communiquer en cas de problèmes potentiels.
Tous les effets secondaires indésirables inattendus qui sont signalés à l’OMS sont évalués par un groupe indépendant d’experts, le <a href="https://www.who.int/vaccine_safety/committee/fr/">Comité consultatif mondial de la sécurité vaccinale.</a>  </p>

<p>source : <a href="https://www.who.int/fr/news-room/q-a-detail/vaccines-and-immunization-what-is-vaccination?adgroupsurvey=%7Badgroupsurvey%7D&gclid=CjwKCAiA_9r_BRBZEiwAHZ_v1">Organisation mondiale de la santé</a></p>

{% endblock %}
