{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<h1 align="center">Stratégie </h1>
<h1 align="center">La vaccination, qu'est ce que c'est ?</h1>
<p>La vaccination est un moyen simple, sûr et efficace de vous protéger des maladies dangereuses, avant d’être en contact avec ces affections. Elle utilise les défenses naturelles de l’organisme pour créer une résistance à des infections spécifiques et renforcer le système immunitaire. 
Les vaccins stimulent le système immunitaire pour créer des anticorps, de la même manière que s’il était exposé à la maladie. Mais comme les vaccins ne renferment que des formes tuées ou atténuées des germes, virus ou bactéries, ils ne provoquent pas la maladie et n’exposent pas le sujet à des risques de complications.
La plupart des vaccins sont administrés par injection, mais certains se prennent par voie orale ou par aérosol nasal.</p>

<h1 align="center">Comment agit un vaccin ?</h1>
<p>Un vaccin permet de réduire le risque de contracter une maladie en travaillant sur les défenses naturelles de l'organisme pour établir une protection. Le vaccin permet au système immunitaire de : </p>
<ul>
    <li> - Reconnaitre le germe invasif, comme un virus ou une bactérie</li>
    <li> - Produire des anticorps</li>
    <li> - Se souvenir de la maladie et de la façon de la com </li>
</ul>
<p>Les vaccins sont donc un moyen sûr et astucieux de produire une réponse immunitaire de l’organisme, sans provoquer de maladie.
Le système immunitaire a de la mémoire. Une fois qu’il a été exposé à une ou plusieurs doses vaccinales, le sujet vacciné demeure protégé contre la maladie concernée pendant des années, des décennies, voire la vie entière. C’est la raison pour laquelle les vaccins sont si efficaces. Plutôt que de traiter le mal, ils permettent d’éviter de tomber malade. </p>

<h1 align="center">Pourquoi dois-je me faire vacciner moi ou mes enfants</h1>
<p>Les vaccins nous protègent tout au long de la vie, à partir de la naissance, dans l’enfance, l’adolescence et jusqu’à la vieillesse. Dans la plupart des pays, nous recevons une fiche ou un carnet de vaccination nous disant les vaccins que nous ou nos enfants avons eus et les dates des prochains vaccins ou rappels. Il est important de rester à jour de toutes les vaccinations.
En retardant les vaccinations, on risque de tomber gravement malade. Si on attend le moment où nous pensons que nous risquons d’être exposés à une maladie, comme lors d’une épidémie, il ne restera peut-être pas suffisamment de temps pour que le vaccin puisse agir ou pour administrer toutes les doses recommandées.
Si vous êtes en retard dans les vaccinations recommandées, que ce soit pour vous ou pour votre enfant, parlez-en à votre prestataire de soins de santé pour procéder à un rattrapage</p>


<h1 align="center">Quelles maladies le vaccin permettent-ils d'éviter</h1>
<p>Les vaccins ont permis de nous protéger de nombreuses maladiesn, notemmant : </p>
<ul>
    <li>Le cancer du col de l’utérus</li>
    <li>Le choléra</li>
    <li>La Covid-19</li>
    <li>La diphtérie</li>
    <li>La maladie à virus Ebola</li>
    <li>L’hépatite B</li>
    <li>La grippe</li>
    <li>L’encéphalite japonaise</li>
    <li>La rougeole</li>
    <li>La méningite</li>
    <li>Les oreillons</li>
    <li>La coqueluche</li>
    <li>La pneumonie</li>
    <li>La poliomyélite</li>
    <li>La rage</li>
    <li>Les infections à rotavirus</li>
    <li>La rubéole</li>
    <li>Le tétanos</li>
    <li>La typhoïde</li>
    <li>La varicelle</li>
    <li>La fièvre jaune</li>
</ul>

<h1 align="center">Qui peux se faire vacciner</h1>
<p>Presque tout le monde. Toutefois, à cause d’affections médicales spéciales, il ne faut pas administrer certains vaccins à certaines personnes, ou alors elles doivent attendre un peu. Ces affections sont les suivantes :</p>
<ul>
    <li>Maladies chroniques ou certains traitements (comme la chimiothérapie) qui ont des effets sur le système immunitaire;</li>
    <li>Allergies sévères ou potentiellement mortelles, qui sont très rares, à certains composants des vaccins; </li>
    <li>En cas de maladie sévère le jour de la vaccination. Les enfants doivent tout de même être vaccinés dès qu’ils sont remis. Une maladie modérément grave et une petite fièvre ne sont pas des contre-indications à la vaccination. </li>
</ul>
<p>Ces facteurs varient souvent selon les vaccins. Si vous n’êtes pas sûr de savoir si vous ou votre enfant devez avoir un vaccin en particulier, parlez-en à votre agent de santé. Il ou elle pourra vous aider à prendre une décision en toute connaissance de cause pour la vaccination en question.</p>

<h1 align="center">Qu'y a-t-il dans un vaccin</h1>
<p>Tous les composants jouent un rôle important pour garantir l’innocuité et l’efficacité du vaccin. On y trouve : </p>
<ul>
    <li>L’antigène. Il s’agit d’une forme inactivée ou affaiblie d’un germe, virus ou bactérie, qui apprend à l’organisme à le reconnaître et à combattre la maladie s’il est en présence de ce germe à un stade ultérieur. </li>
    <li>Les adjuvants, qui aident à renforcer la réponse immunitaire. En d’autres termes, ils aident les vaccins à mieux agir. </li>
    <li>Les conservateurs, qui aident à maintenir l’efficacité du vaccin.</li>
    <li>Les stabilisateurs, qui protègent le vaccin pendant le stockage et le transport.</li>
</ul>
<p>Les composants des vaccins peuvent paraître étranges lorsqu’on les voit énumérés sur une étiquette. Pourtant, beaucoup d’entre eux sont présents naturellement dans l’organisme, dans l’environnement et dans les aliments que nous consommons. Tous, ainsi que les vaccins eux-mêmes, sont soigneusement testés et contrôlés pour garantir leur innocuité.</p>

<h1 align="center">Qu'y a-t-il dans un vaccin</h1>
<p>Tous les composants jouent un rôle important pour garantir l’innocuité et l’efficacité du vaccin. On y trouve : </p>
<ul>
    <li>L’antigène. Il s’agit d’une forme inactivée ou affaiblie d’un germe, virus ou bactérie, qui apprend à l’organisme à le reconnaître et à combattre la maladie s’il est en présence de ce germe à un stade ultérieur. </li>
    <li>Les adjuvants, qui aident à renforcer la réponse immunitaire. En d’autres termes, ils aident les vaccins à mieux agir. </li>
    <li>Les conservateurs, qui aident à maintenir l’efficacité du vaccin.</li>
    <li>Les stabilisateurs, qui protègent le vaccin pendant le stockage et le transport.</li>
</ul>
<p>Les composants des vaccins peuvent paraître étranges lorsqu’on les voit énumérés sur une étiquette. Pourtant, beaucoup d’entre eux sont présents naturellement dans l’organisme, dans l’environnement et dans les aliments que nous consommons. Tous, ainsi que les vaccins eux-mêmes, sont soigneusement testés et contrôlés pour garantir leur innocuité.</p>


<h1 align="center">Les vaccins sont-ils sûrs</h1>
<p>Tous les composants jouent un rôle important pour garantir l’innocuité et l’efficacité du vaccin. On y trouve : </p>

{% endblock %}
