{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<h1 align="center">Liste des articles</h1>
<table id="table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">ID</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">TITRE</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">RESUMÉ</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for article in listeArticle %}
            <tr>
                <td style="text-align: center;">{{ article.id }}</td>
                <td style="text-align: center;">{{ article.titreArticle }}</td>
                <td style="text-align: center;">{{ article.resumeArticle }}</td>
                <td style="text-align: center;"><button type="button" class="btn btn-primary" style="margin: 1rem;">Modifier</button><button type="button" class="btn btn-danger">Supprimer</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
