{% extends "base.html.twig" %}
{% block title%}
    Modification d'un Article
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
        </div>
        <h1 align="center">Modification d'un article</h1>
        <hr />
        {{ include('administration/formulaireArticle.html.twig')}}
        <p class="d-flex justify-content-center">
        <a href="{{ path('administration') }}" class="btn btn-danger text-center">
           Retour aux articles
        </a>
    </div>
</html>
{% endblock %}